@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption:wght@400;700&display=swap");
/* [ FONT ]*/

@font-face {
  font-family: Raleway-SemiBold;
  src: url("../contact/fonts/raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway-Bold;
  src: url("..contact/fonts/raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: Raleway-Black;
  src: url("..contact/fonts/raleway/Raleway-Black.ttf");
}

body {
  font-family: Raleway-Black, "PT Sans ", sans-serif;
  background-color: rgba(142, 235, 185, 0.5);
  color: black;
  margin: 0;
  line-height: 1.6;
}

#showcase {
  height: 100vh;
}

#homeContainer {
  background: url("../img/showcase.jpg") no-repeat center/cover;
  margin: 0;
  margin-top: calc(-100vh + 80px);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] auto);
  grid-template-rows: repeat(3, [row] auto);
  background-color: rgba(71, 65, 60, 0.1);
}

#poolContainer {
  display: flex;
  flex-direction: column;
  height: auto;
}

.workContainer {
  margin: 1em;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, [col] auto);
  grid-template-rows: repeat(5, [row] auto);
  /* ? Styles  */
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0575e6,
    #00f260
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0576e6ab,
    #00f26173
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1px solid white;
  color: inherit;
  font-weight: bolder;
}

.box {
  background-color: rgba(142, 235, 185, 0.25);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box .box {
  background-color: rgba(204, 204, 204, 0.5);
  color: #444;
  padding: 0 1em;
  margin: auto;
}

.hidden {
  display: none;
}

/* First row of homeContainer */
#welcomeSection {
  grid-column: col / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: subgrid;
}

/* Second row of homeContainer */
#homeSummary {
  grid-gap: 1em;
  font-size: 0.7em;
  grid-column: col / span 4;
  grid-row: row 2;
  display: flex;
  flex-direction: row;
}

/* Third row of homeContainer */
#highlights {
  font-size: 0.9em;
  grid-column: col / span 4;
  grid-row: row 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: subgrid;
}

/* First row of workContainer */
.pageTitleBox {
  grid-column: 1 / span 4;
  grid-row: row 1;
  display: flex;
  justify-content: center;
  /* ? Styles */
  background-color: skyblue;
}

/* Middle rows (row 2 - 5) */
.pageContent {
  grid-column: 3 / span 2;
  grid-row: row 2 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: subgrid;
  height: 50vh;
  overflow: scroll;
}

#poolSectionTitle {
  /* ? Positioning and Layout */
  grid-column: 1 / span 3;
  grid-row: row 1;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0.5em;
  /* ? Styles */
  font-size: 1.5em;
  background-color: skyblue;
  font-family: Raleway-Semibold;
}

#poolSectionArea {
  grid-column: 1;
  grid-row: row 2 / span 2;
  padding: 0.5em 1em;
  background-color: rgba(142, 235, 185, 0.2);
}

#poolSectionGallery,
#deckSectionGallery {
  grid-column: 2 / span 3;
  grid-row: row 2 / auto;
  display: grid;
  /* grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(4, [row] 500px); */
  /* height: 50vh; */
}

/* TODO: Beginning, Testing out masonry effect for gallery  */
:root {
  counter-reset: masonry;
}
.masonry {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-auto-rows: 0; */
  border: 1px solid red;
  /* margin: 2em; */
}

.masonry-item {
  border-radius: 5px;
  background-color: #eee;
  border-radius: 5px;
  /* overflow: hidden; */
}

.masonry-item,
.masonry-item img {
  position: relative;
  /* ? Use height and width percentage if you want 
  ? to take up full width of masonry-item */
  height: 100%;
  width: 100%;
}

.masonry-item:after {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  content: counter(masonry);
  counter-increment: masonry;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in;
}

.masonry-item:hover:after {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.75);
}
/* TODO: Ending, Testing out masonry effect for gallery  */

.sub-nav-container {
  grid-column: 1 / 3;
  grid-row: row 2 / auto;
  display: flex;
  flex-direction: column;
  justify-content: start;

  margin: 0 1em;
}

.sub-nav li p:hover {
  color: rgb(167, 255, 179);
}

.active {
  background-color: rgb(20, 91, 172);
  border-style: inset;
  border: 3px solid yellow;
}

/* Last row of workContainer/homeContainer */
.pageSummary {
  grid-column: 1 / span 4;
  grid-row: 4 / span 3;
  height: 300px;
  margin: auto;
}

/** Start of first row homeContainer element styles */
/* Logo styles */
#logo {
  text-shadow: 3px 3px 5px black;
  margin: auto;
  grid-row: 1;
  grid-column: 1;
  padding: 0.5em;
}

#brandStatement {
  font-family: Raleway-Black;
  color: inherit;
  text-shadow: 2px 2px 8px rgb(9, 66, 139);
  grid-row: 1;
  grid-column: 2 / 4;
}
/** End of first row homeContainer element styles */

/** Start of third row homeContainer element styles */
#firstImageContainer {
  /* Row start and row end, column start and column end */
  grid: 1, 1;
}

#secondImageContainer {
  /* Row start and row end, column start and column end */
  grid: 1, 2;
}

#callToAction {
  /* Row start and row end, column start and column end */
  grid: 1, 3;
}
/** End of third row homeContainer element styles */

/** Start of first row workContainer element styles **/
.pageTitle {
  /* ? Positioning and sizing */
  text-align: center;
  width: 50vw;
  padding: 0em 5em;
  flex: 2 1 4;
  /* ? Text Styles */
  font-family: Raleway-Black;
  font-size: 2.4em;
  font-style: italic;
  color: azure;
  letter-spacing: 5px;
  /* text-decoration: underline; */
  word-spacing: 30px;
}

/** End of first row workContainer element styles **/

/* Image styles */
/* img {
  display: block;
  height: 350px;
} */

/** Start of first row workContainer element styles **/
.sub-nav {
  /* ? Positioning and sizing */
  width: 20vw;
  padding: 0em 2em;
  flex: 2 1 1;
  align-self: center;
  /* ? Text Styles */
  font-size: 1.9em;
}

.sub-nav-description {
  margin: 0 auto;
  padding: 5%;
}

li p {
  width: 100%;
  text-align: center;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
}
/** End of first row workContainer element styles **/

/* Nav styles */
nav {
  height: 80px;
  width: 100%;
  /* background-color: rgba(27, 95, 0, 0.747); */
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4286f494,
    #373b445d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4286f4d5,
    #373b449a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: fixed;
  z-index: 10;
}

#nav-container {
  display: flex;
  padding: 0;
  margin: 0;
}
.nav-item {
  flex-grow: 1;
  display: flex;
  height: 80px;
  align-items: center;
}

#nav-container a {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
  color: rgb(253, 253, 253);
  font-size: 1.2em;
}
nav li:hover {
  background-color: rgba(68, 68, 68, 0.425);
  height: 80px;
}
nav a#openup {
  display: none;
}
nav a#logo {
  display: none;
}

/* Laptop screen any desktop that is not high-resolution or ultra wide */
@media screen and (max-width: 1200px) {
  .workContainer {
    /* grid-template-columns: repeat(3, 1fr 2fr);
    grid-template-rows: subgrid; */
    /* grid-auto-rows: 1fr; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
  }

  .pageTitleBox {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }
  .sub-nav-container {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    display: flex;
  }

  .sub-nav {
    order: 4;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .sub-nav > li {
    justify-content: space-around;
  }

  .sub-nav li p {
    padding: 0em 3em;
    width: auto;
  }
  .sub-nav-description {
    margin: 1em auto;
    padding: 0;

    font-size: 1.5em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .pageContent {
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 3fr;

    background-color: skyblue;
    height: 100vh;
  }

  #poolSectionTitle {
    grid-row: 1 / span 1;
  }

  #poolSectionArea {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
  }

  #poolSectionGallery {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    /* height: 100%; */
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-auto-rows: max-content;
  }

  .pageSummary {
    grid-row: 5 / span 1;
  }

  #nav-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  /* TODO: Beginning, Testing out masonry effect for gallery  */

  .masonry {
    display: grid;
    grid-gap: 10px;
    /* Use grid-auto-rows: 0; for flush design */
    grid-auto-rows: 0;
    /* height: 100%; */
    border: 1px solid red;
    /* margin: 2em; */
    background-color: thistle;
  }

  .masonry-item {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-color: transparent;
  }

  .masonry-item,
  .masonry-item img {
    position: relative;
    height: auto;
    width: auto;
  }

  /* Just remove class later */
  .masonry-item:after {
    content: none;
  }
  /* TODO: Ending, Testing out masonry effect for gallery  */
}

@media screen and (min-height: 1000px) {
  /* #workContainer {
    max-height: 70vh;
  } */
  .pageTitleBox,
  .pageContent,
  .sub-nav-container,
  .pageSummary {
    max-height: 500px;
  }
}

/* Tablet size or narrow window width */
@media screen and (max-width: 781px) {
  body {
    width: 100vw;
  }

  #homeContainer {
    grid-template-columns: repeat(2, [col] 1fr);
    grid-template-rows: 1fr;
  }

  #welcomeSection {
    grid-column: col / span;
  }

  #homeSummary {
    grid-column: col / span;
    flex-direction: column;
  }

  #highlights {
    grid-column: col / span 2;
    grid-template-columns: 1fr;
    grid-gap: 2em 0;
  }
  #nav-container {
    width: 100vw;
    display: flex;
    padding: 0em;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }
  #nav-container a {
    justify-content: stretch;
  }
  nav a {
    width: 100%;
    text-indent: 25px;
    border-bottom: 1px solid #555;
  }
  #branding {
    /* order: 5; */
    /* background-color: rgba(71, 61, 139, 0.747); */
  }
}

/* For mobile screen and to trigger mobile menu */
@media screen and (max-width: 580px) {
  /* Nav styles */
  nav {
    height: auto;
    border-bottom: 0;
  }
  #nav-container {
    display: none;
    height: auto;
  }
  .nav-item {
    width: 100%;
    float: left;
    position: relative;
  }

  .nav-item a {
    /* background: #333; */
    border-bottom: 1px solid #555;
  }
  .nav-item a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 2em;
  }
  nav a#openup {
    font-size: 1em;
    text-decoration: none;
    display: block;
    color: white;
    background-color: rgba(27, 95, 0, 0.747);
    width: 100%;
    margin: auto;
    padding: 1em 0em;
    position: relative;
  }

  nav a#logo {
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: #333;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 50px;
    width: auto;
    padding: 0px;
  }
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
