@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption:wght@400;700&display=swap");

body {
  font-family: "PT Sans ", sans-serif;
  background-color: rgb(20, 91, 172);
  color: darkgoldenrod;
  margin: 0;
  line-height: 1.6;
}

#showcase {
  /* margin: 0;
  padding: 0; */

  /* width: 100%; */
  height: 100vh;
  /* position: relative;
  overflow-y: hidden; */
}

#homeContainer {
  background: url("../img/showcase.jpg") no-repeat center/cover;
  margin-top: calc(-100vh + 80px);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] auto);
  grid-template-rows: repeat(3, [row] auto);
  background-color: rgba(71, 65, 60, 0.1);
}

#poolContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: rgba(142, 235, 185, 0.5);
}

.workContainer {
  margin: 2em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, [col] auto);
  grid-template-rows: repeat(5, [row] auto);
  background-color: rgba(142, 235, 185, 0.5);
  border: 1px solid white;
  color: initial;
  font-weight: bolder;
}

.box {
  background-color: rgba(142, 235, 185, 0.25);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box .box {
  background-color: rgba(204, 204, 204, 0.5);
  color: #444;
  padding: 0 1em;
  margin: auto;
}

.hidden {
  display: none;
}

/* First row of homeContainer */
#welcomeSection {
  grid-column: col / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: subgrid;
}

/* Second row of homeContainer */
#homeSummary {
  grid-gap: 1em;
  font-size: 0.7em;
  grid-column: col / span 4;
  grid-row: row 2;
  display: flex;
  flex-direction: row;
}

/* Third row of homeContainer */
#highlights {
  font-size: 0.9em;
  grid-column: col / span 4;
  grid-row: row 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: subgrid;
}

/* First row of workContainer */
.pageTitleBox {
  grid-column: 1 / span 4;
  grid-row: row 1;
  display: flex;
  justify-content: center;
  /* ? Styles */
  background-color: skyblue;
}

/* Middle rows (row 2 - 5) */
.pageContent {
  grid-column: 3 / span 2;
  grid-row: row 2 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: subgrid;
  height: 50vh;
  overflow: scroll;
}

#poolSectionTitle {
  /* ? Positioning and Layout */
  grid-column: 1 / span 3;
  grid-row: row 1;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0.5em;
  /* ? Styles */
  font-size: 1.5em;
  background-color: skyblue;
}

#poolSectionArea {
  grid-column: 1;
  grid-row: row 2 / span 2;
  padding: 0.5em 1em;
  background-color: rgba(142, 235, 185, 0.2);
}

#poolSectionGallery,
#deckSectionGallery {
  grid-column: 2 / span 3;
  grid-row: row 2 / auto;
  display: grid;
  /* grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(4, [row] 500px); */
  /* height: 50vh; */
}

/* TODO: Beginning, Testing out masonry effect for gallery  */
:root {
  counter-reset: masonry;
}
.masonry {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-auto-rows: 0; */
  border: 1px solid red;
  /* margin: 2em; */
}

.masonry-item {
  border-radius: 5px;
  background-color: #eee;
  border-radius: 5px;
  /* overflow: hidden; */
}

.masonry-item,
.masonry-item img {
  position: relative;
  /* ? Use height and width percentage if you want 
  ? to take up full width of masonry-item */
  height: 100%;
  width: 100%;
}

.masonry-item:after {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  content: counter(masonry);
  counter-increment: masonry;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in;
}

.masonry-item:hover:after {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.75);
}
/* TODO: Ending, Testing out masonry effect for gallery  */

.sub-nav-container {
  grid-column: 1 / 3;
  grid-row: row 2 / auto;
  display: flex;
  flex-direction: column;
  justify-content: start;

  margin: 0 1em;
}

.sub-nav li p:hover {
  color: rgb(167, 255, 179);
}

.active {
  background-color: rgb(20, 91, 172);
  border-style: inset;
  border: 3px solid yellow;
}

/* Last row of workContainer/homeContainer */
.pageSummary {
  grid-column: 1 / span 4;
  grid-row: row 4;
  height: 200px;
  margin: auto;
}

/** Start of first row homeContainer element styles */
/* Logo styles */
#logo {
  /* height: auto; */
  margin: auto;
  grid-row: 1;
  grid-column: 1;
}

#brandStatement {
  /* height: auto; */
  grid-row: 1;
  grid-column: 2 / 4;
}
/** End of first row homeContainer element styles */

/** Start of third row homeContainer element styles */
#firstImageContainer {
  /* Row start and row end, column start and column end */
  grid: 1, 1;
}

#secondImageContainer {
  /* Row start and row end, column start and column end */
  grid: 1, 2;
}

#callToAction {
  /* Row start and row end, column start and column end */
  grid: 1, 3;
}
/** End of third row homeContainer element styles */

/** Start of first row workContainer element styles **/
.pageTitle {
  /* ? Positioning and sizing */
  text-align: center;
  width: 50vw;
  padding: 0em 5em;
  flex: 2 1 4;
  /* ? Text Styles */
  font-size: 2.4em;
  font-style: italic;
  color: azure;
  letter-spacing: 5px;
  /* text-decoration: underline; */
  word-spacing: 30px;
}

/** End of first row workContainer element styles **/

/* Image styles */
/* img {
  display: block;
  height: 350px;
} */

/** Start of first row workContainer element styles **/
.sub-nav {
  /* ? Positioning and sizing */
  width: 20vw;
  padding: 0em 2em;
  flex: 2 1 1;
  align-self: center;
  /* ? Text Styles */
  font-size: 1.9em;
}

.sub-nav-description {
  margin: 0 auto;
  padding: 5%;
}

li p {
  width: 100%;
  text-align: center;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
}
/** End of first row workContainer element styles **/

/* Nav styles */
nav {
  height: 80px;
  width: 100%;
  background-color: rgba(27, 95, 0, 0.747);
  position: fixed;
  z-index: 10;
}

#nav-container {
  display: flex;
  padding: 0;
  margin: 0;
}
.nav-item {
  flex-grow: 1;
  display: flex;
  height: 80px;
  align-items: center;
}

#nav-container a {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
  color: rgb(253, 253, 253);
  font-size: 1.2em;
}
nav li:hover {
  background-color: rgba(68, 68, 68, 0.425);
  height: 80px;
}
nav a#openup {
  display: none;
}
nav a#logo {
  display: none;
}

/* Tablet size or narrow window width using a stretched button layout for nav */
@media screen and (max-width: 1200px) {
  #nav-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .pageContent {
    background-color: skyblue;
    height: 100vh;
  }

  #poolSectionArea,
  #poolSectionGallery {
  }

  /* TODO: Beginning, Testing out masonry effect for gallery  */

  .masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    height: 50vh;
    border: 1px solid red;
    /* margin: 2em; */
  }

  /* TODO: Ending, Testing out masonry effect for gallery  */
}

@media screen and (min-height: 1000px) {
  /* #workContainer {
    max-height: 70vh;
  } */
  .pageTitleBox,
  .pageContent,
  .sub-nav-container,
  .pageSummary {
    max-height: 900px;
  }
}

/* Tablet size or narrow window width using a stretched button layout for nav */
@media screen and (max-width: 781px) {
  #nav-container {
    display: flex;
    padding: 0em;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }
  .nav-item {
    flex-grow: 1;
  }
  nav a {
    text-align: center;
    width: 100%;
    text-indent: 25px;
    border-bottom: 1px solid #555;
  }
  #branding {
    order: 5;
    background-color: rgba(71, 61, 139, 0.747);
  }
}

/* For mobile screen and to trigger mobile menu */
@media screen and (max-width: 580px) {
  /* Nav styles */
  nav {
    height: auto;
    border-bottom: 0;
  }
  #nav-container {
    display: none;
    height: auto;
  }
  .nav-item {
    width: 100%;
    float: left;
    position: relative;
  }

  .nav-item a {
    /* background: #333; */
    border-bottom: 1px solid #555;
  }
  .nav-item a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 2em;
  }
  nav a#openup {
    font-size: 1em;
    text-decoration: none;
    display: block;
    color: white;
    background-color: rgba(27, 95, 0, 0.747);
    width: 100%;
    margin: auto;
    padding: 1em 0em;
    position: relative;
  }

  nav a#logo {
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: #333;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 50px;
    width: auto;
    padding: 0px;
  }
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
